mixin nav(className)
    nav(class=`${className}`)
        ul(class=`${className}__lists`): each n in confNav
            li(class=`${className}__list`)
                h2(class=`${className}__h2`) #{n.title}
                p(class=`${className}__subtitle`) #{n.subtitle}
                if n.subnav
                    ul(class=`${className}__subnav-lists`): each sn in n.subnav
                        li(class=`${className}__subnav-list`)
                            a(href=sn.link class=`${className}__link`) !{sn.title}