extends layouts/_default
append value
    -const title = 'site_04'
    -const description = 'ディスクリプション'
    -const keyword = 'キーワード キーワード'
    -const path = '.'

block header
    include ./includes/_header.pug
        append headerCont
            include ./components/_hamburger.pug
            +nav('nav')
block main
    div.mv
        h1.mv__h1 HELLO RECORD
        picture.mv__picture
            source.mv__source(srcset=`${imgPath}mv/main_pc_1.jpg` media="(min-width:640px)")
            img.mv__img(src=`${imgPath}mv/main_1.jpg` alt="レコードの写真")
    .index
        section.articles
            h2.articles__h2.h2 PICKUP
            p.articles__h2-subtitle.h2-subtitle ピックアップ
            .articles__inner
                article.articles__article.article
                    .article__img-wrapper
                        img.article__img(src=`${imgPath}article/article_1.jpg`, alt="レコードの写真")
                    h3.article__h3 HELLO! あなたの今一番オススメのレコードは？
                    ul.article__ul
                        li.article__li レコード
                        li.article__li レトロ
                article.articles__article.article
                    .article__img-wrapper
                        img.article__img(src=`${imgPath}article/article_1.jpg`, alt="レコードの写真")
                    h3.article__h3 HELLO! あなたの今一番オススメのレコードは？
                    ul.article__ul
                        li.article__li レコード
                        li.article__li レトロ
                article.articles__article.article
                    .article__img-wrapper
                        img.article__img(src=`${imgPath}article/article_1.jpg`, alt="レコードの写真")
                    h3.article__h3 HELLO! あなたの今一番オススメのレコードは？
                    ul.article__ul
                        li.article__li レコード
                        li.article__li レトロ
                article.articles__article.article
                    .article__img-wrapper
                        img.article__img(src=`${imgPath}article/article_1.jpg`, alt="レコードの写真")
                    h3.article__h3 HELLO! あなたの今一番オススメのレコードは？
                    ul.article__ul
                        li.article__li レコード
                        li.article__li レトロ
            .articles__btn
                a.btn(href="#") MORE

        section.sidebars
            h2.sidebars__h2.h2 REGULAR
            p.sidebars__h2-subtitle.h2-subtitle レギュラー
            .sidebars__inner
                .sidebars__article
                    img.sidebars__img(src=`${imgPath}sidebar/sidebar_1.jpg`, alt="")
                    h3.sidebars__h3 「外出」と「音楽」

block footer
    include ./includes/_footer.pug
        append headerCont
            +nav('f-nav')