-const cssPath = path + '/css/';
-const jsPath = path + '/js/';
-const imgPath = path + '/assets/images/';
-const domain = 'https://site_04/';
-const ogImg = domain + '/assets/images/ogp.jpg';

//- navigation
-
    const confNav = [
        {
            title: 'ARTICLES',
            subtitle: '記事一覧',
            subnav: [
                {
                    title: 'すべての記事を見る',
                    link: '#',
                }
            ]
        },
        {
            title: 'REGULARS',
            subtitle: '定期更新',
            subnav: [
                {
                    title: '「外出」と「音楽」',
                    link: '#',

                },
                {
                    title: '「食事」と「音楽」',
                    link: '#',
                },
                {
                    title: '「部屋」と「音楽」',
                    link: '#',
                }
            ]
        },
        {
            title: 'EVENTS',
            subtitle: 'イベント',
            subnav: [
                {
                    title: 'イベント情報',
                    link: '#',
                }
            ]
        },
        {
            title: 'SNS',
            subtitle: 'SNSアカウント',
            subnav: [
                {
                    title: '<i class="fa-brands fa-instagram"></i>インスタグラム',
                    link: '#',
                },
                {
                    title: '<i class="fa-brands fa-twitter"></i>ツイッター',
                    link: '#',
                }
            ]
        }
    ]

//- articles
-
    const confArticles = [
        {
            img: `${imgPath}articles/article_1.jpg`,
            alt: '',
            title: 'HELLO! あなたの今一番オススメのレコードは？',
            tags: [
                'レコード',
                'レトロ'
            ]
        },
        {
            img: `${imgPath}articles/article_2.jpg`,
            alt: '',
            title: '好きなジャケット写真で部屋を飾ろう。',
            tags: [
                'レコード',
                'レトロ'
            ]
        },
        {
            img: `${imgPath}articles/article_3.jpg`,
                alt: '',
            title: '80’sに流行った「あの曲」。あなたはいくつ知ってる？',
            tags: [
                'レコード',
                'レトロ',
                '80s'
            ]
        },
        {
            img: `${imgPath}articles/article_4.jpg`,
            alt: '',
            title: 'HELLO! あなたの今一番オススメのレコードは？',
            tags: [
                'レコード',
                'レトロ'
            ]
        },
        {
            img: `${imgPath}articles/article_5.jpg`,
            alt: '',
            title: '好きなジャケット写真で部屋を飾ろう。',
            tags: [
                'レコード',
                'レトロ'
            ]
        },
        {
            img: `${imgPath}articles/article_6.jpg`,
                alt: '',
            title: '80’sに流行った「あの曲」。あなたはいくつ知ってる？',
            tags: [
                'レコード',
                'レトロ',
                '80s'
            ]
        },{
            img: `${imgPath}articles/article_7.jpg`,
            alt: '',
            title: 'HELLO! あなたの今一番オススメのレコードは？',
            tags: [
                'レコード',
                'レトロ'
            ]
        },
        {
            img: `${imgPath}articles/article_8.jpg`,
            alt: '',
            title: '好きなジャケット写真で部屋を飾ろう。',
            tags: [
                'レコード',
                'レトロ'
            ]
        },
        {
            img: `${imgPath}articles/article_9.jpg`,
                alt: '',
            title: '80’sに流行った「あの曲」。あなたはいくつ知ってる？',
            tags: [
                'レコード',
                'レトロ',
                '80s'
            ]
        }
    ]

-
    const confSidebar = [
        {
            img: `${imgPath}sidebar/sidebar_1.jpg`,
            title: '「外出」と「音楽」'
        },
        {
            img: `${imgPath}sidebar/sidebar_2.jpg`,
            title: '「食事」と「音楽」'
        },
        {
            img: `${imgPath}sidebar/sidebar_3.jpg`,
            title: '「部屋」と「音楽」'
        }
    ]

-
    const confEvents = [
        {
            link: '#',
            img: `${imgPath}events/event_1.jpg`,
            date: '2023.06.03(Sat) 14:00 ~',
            title: "90's HIPHOPで盛り上がろう!「HELLO 90's MIX イベント！」"
        },
        {
            link: '#',
            img: `${imgPath}events/event_2.jpg`,
            date: '2023.06.05(Mon) 19:00 ~',
            title: '月曜からJAZZ...。「HELLO MIDNIGHT JAZZ Vol.01」'
        },
        {
            link: '#',
            img: `${imgPath}events/event_3.jpg`,
            date: '2023.06.09(Fri) 22:00 ~',
            title: 'ちょっと大人なT.G.I.F。「HELLO SMOOTH R&B NIGHT」 '
        }
    ]